server:
  port:
    0

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.web.filter.CommonRequestLoggingFilter: DEBUG
    org.springframework.cloud.gateway: DEBUG
    com.netflix.discovery: DEBUG
    org.zalando.logbook: TRACE

spring:
  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  datasource:
    url: jdbc:postgresql://localhost:5436/comment
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver


eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka/