spring:
  datasource:
    url: jdbc:postgresql://localhost:4433/user
    username: user
    password: user
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        default_schema: public
        format_sql: false

  logging:
    level:
      ru.practicum.ewm: DEBUG