spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
      routes:
        - id: user_service_route
          uri: lb://user-service
          predicates:
            - Path=/admin/users/**

        - id: category_service_route
          uri: lb://category-service
          predicates:
            - Path=/admin/categories/**,/categories/**

        - id: comment_service_route
          uri: lb://comment-service
          predicates:
            - Path=/event/{eventId:\\d+}/comment/**

        - id: compilation_service_route
          uri: lb://compilation-service
          predicates:
            - Path=/admin/compilations/**,/compilations/**

        - id: event_service_route
          uri: lb://event-service
          predicates:
            - Path=/admin/events/**,/users/{userId}/events/**,/events/**

        - id: request_service_route
          uri: lb://request-service
          predicates:
            - Path=/users/{userId}/requests/**


server:
  port: 8080

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true


management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway,routes,beans,env
  endpoint:
    gateway:
      enabled: true
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.server: DEBUG
    org.springframework.cloud.loadbalancer: DEBUG
    com.netflix.discovery: DEBUG